---
---

$my_background_darker: #212121;
$my_background: #303030;
$my_background_lighter: #373737;
$my_blue: #007FAE;
$my_white: #f2f2f2;
$my_white_darker: #e7e7e7;

@import "{{ site.theme }}";

// Override begin
body {
    background: $my_background
}

#header_wrap {
  background: $my_background;
  background: -moz-linear-gradient(top, $my_background_lighter, $my_background);
  background: -webkit-linear-gradient(top, $my_background_lighter, $my_background);
  background: -ms-linear-gradient(top, $my_background_lighter, $my_background);
  background: -o-linear-gradient(top, $my_background_lighter, $my_background);
  background: linear-gradient(to top, $my_background_lighter, $my_background);
}

#footer_wrap {
  background: $my_background;
}

// Modify below if need wider space
// .inner {
//     max-width: 640px;
// }


// Override end

html {
    scroll-behavior: smooth;
}

header {
    padding-bottom: 0px!important;
}

#project_tagline{
    padding-bottom: 0px!important;
    margin-bottom: 0px!important;
}

// --------------------------------------
// Menubar

#menubar{
    text-align: center;
    width: 100%;
    // position: fixed;
    // left: 0;
    // top: 0;
    // width: 100%;
}

#menubar ul{
    text-align: center;
    width: 100%;
    margin-bottom: 0px!important;
}

#menubaritems li{
    display: inline;
    // border-bottom: 1px solid $my_white;
    margin: 0 7px;
}

#menubar {
    border-bottom: 0px;
}

#menubaritems li a{
    padding: 0 3px!important;
}

#menubaritems a{
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    text-shadow: #000 0px 0px 10px;
    color: $my_white;
    width: 20%;
    text-align: center;
}

#menubaritems a:hover{
    text-decoration: none;
    background: $my_background_darker;
    border-bottom: 3px solid $my_white;
    border-radius: 7px 7px 0 0;
}

#menubaritems a.active{
    background: $my_blue;
    border-bottom: 3px solid $my_white;
    border-radius: 7px 7px 0 0;
}

@media screen and (max-width: 480px) {
    #menubaritems li {
        display: block!important;
    }

    #menubaritems a{
        width: 50%;
    }

    // Don't change th eborder
    #menubaritems a:hover{
        text-decoration: none;
        background: $my_background_darker;
        border-bottom: 0px solid $my_white;
    }
    
    #menubaritems a.active{
        // background: #212121;
        background: $my_blue;
        border-bottom: 0px solid $my_white;
    }
}



hr.divider {
  margin-top: 1px!important;
  margin-bottom: 12px;
  background: none!important;
  // border-bottom: 2px solid #121212;
  border-bottom: 2px solid #afafaf;
  // margin: -50px auto 10px; 
}

header a {
    color: $my_blue;
    // border-bottom: 3px solid $my_blue;
}

header a:hover, a:active{
    text-decoration: none;
    border-bottom: 5px solid $my_blue;
}

// --------------------------------------
// Main content

#main_content h2:before {
    background-color: #111;
    content: '';
    display: inline-block;
    width: 0.5ex;
    height: 1em;
    margin-right: .5rem;
    transform: translateY(15%);
}

#main_content h2 {
    background: none;
}

#main_content h1 {
  // font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;
  position: relative;
}
#main_content h1:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 13px;
  height: 7px;
  width: 55px;
  background-color: #111;
  z-index: 7;
}
#main_content h1:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 15px;
  height: 3px;
  width: 65%;
  // max-width: 255px;
  background-color: #111;
  z-index: 1;
}

#main_content h3 {
    margin-left: .8rem;
}

#main_content h4 {
    margin-left: .8rem;
}

#main_content h5 {
    margin-left: .8rem;
}

#main_content > p {
    margin-left: .8rem;
}

#main_content > ul {
    margin-left: .8rem;
}


// Remove the button from details
summary {list-style: none}
summary::-webkit-details-marker {display: none; }

details:hover, details:focus {
  background: lightgray;
}

details div.details{
    border-left: 2px solid #333;
}
details div.details p{
    margin-left: .8rem;
}
// details summary:before { 
//   content:"[+]"; 
//   font-family: monospace, monospace;
// }

// details[open] summary:before { 
//   content:"[-]"; 
//   font-family: monospace, monospace;
// }


span.mytag{
    font-size: 55%;
    vertical-align: middle;
    color: $my_white;
    background-color: #3f3f3f;
    // font-family: "Brush Script MT";//, sans-serif;
    font-family: monospace, monospace;
    text-transform: uppercase;
    padding: 2px 5px;
    margin-left: .7em;
    // position: absolute;
    // transform: translateY(9em);
}

span.tag_done {
    // background-color: #00594c // longleaf pine
    background-color: #228b22 // forest green
}

span.tag_doing {
    // background-color: $my_blue // azalea pink
    background-color: #373af2
}

span.tag_drop {
    // background-color: #b87333
    // background-color: gray
    // background-color: #9c9384
    background-color: #848d9c
}


// carolina blue
#main_content a {
    color: $my_blue;
    border-bottom: 2px solid $my_blue;
}

#main_content a:hover{
    text-decoration: none;
    border-bottom: 4px solid $my_blue;
}

#main_content u {
    // text-decoration-thickness: 2px;
    // border-bottom: 3px solid #007FAE;
}


// ---------------------------
// toc
// #toc_wrap {
//     position: absolute;
//     top: 2rem;
//     right: 0;
// }

#toc_wrap {
    position: absolute;
    height:100%;
    width: 100%;
    pointer-events: none;
    // top: 0;
    // left: 0;
}

#toc {
    pointer-events: auto;
    color: $my_white;
    background-color: $my_blue;
    font-size: 22px;
    text-align: center;
    //
    width: 170px;
    border-radius: 0px 0 5px 5px;
    //
    margin: -40px 0 0 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0rem;
    left: 0rem;
    float: left;
    // display: inline;
    z-index: 99;
    //
    // height: 30px;
}

@media screen and (max-width: 480px) {
    #toc {
        // margin: -40px 0 0 0;
        position: -webkit-sticky;
        position: sticky;
        top: 0rem;
        float: left;
    }
}

#toc #toc_full {
    display: none;
    // display: block; // debug
    position: relative;
    float: left;
    // top: 2rem;
    margin-top: 0px;
    z-index: 8;
    font-size: 16px;
    text-align: left;
    background-color: $my_white_darker;
    box-shadow: 2px 4px $my_background_lighter;
    border: 1px solid $my_blue;
    width: 600px;
} /* Hide the full TOC by default */

#toc:hover #toc_full{
  display: inline-block; /* Show it on hover */
}

#toc_full #markdown-toc {
    margin-left: 0px;
}

// -------------------------
// image
figure.myimage {
    margin: 0 7px 0 3px; 
}
figure.myimage img {
    margin: 0px;
    border: 0px;
}

figure.myimage figcaption {
    font-style: italic;
    color: gray;
    margin-top: -10px;
    padding: 0 5px;
}
